<div class="row-center">
    <div class="col-center " id="anadirNavbar"> 

    <div class="navBar barra abajo row-center"> 
        <div class="row-center  icons" >
            <div class="col-center" id="iconoNavBar">
            <mat-icon class="icons material-icons md-48"  [inline]='true'  svgIcon="grafica"></mat-icon> 
            </div>
            
            <div class="col-center circle" id="anadirNavbar"> 
                
                <mat-icon class="anadirNavbar"  [inline]='true'  svgIcon="boton-anadir"></mat-icon> 
            </div> 
            <div class="col-center" id="iconoNavBar">
                <mat-icon class="icons material-icons md-48"  [inline]='true'  svgIcon="calendario"></mat-icon> 
             </div>
        </div>
<!--         <div class="botonAnadir"></div>
 -->    </div>
    
</div>
