
<!-- <div class="col-center">
 -->    <app-botton-cruz></app-botton-cruz>
    <div class="col-center  iphoneCard">
        <app-usuario></app-usuario>
        <div class="col-center">

                        <div class="busqueda col-center" >

        
                            
                            <div class=" col-center menu-item-expandible colorWhite" >
                                <div class="row-left widthMenu" >
                                    
        
                             </div>
                            </div>
                            
                            <div class=" col-center  custom-hr"></div>
        <!--                     //// otro item //// 
         -->                        <div class=" col-center  menu-item colorWhite"  routerLink="seleccionarRecetas" >
                                    <div class="row-left widthMenu" >
                                
                                            <div class="marginLeft32"> 
                                                <mat-icon class="iconSize colorBlue"  svgIcon="recipes"></mat-icon>
                                            </div>
                                            <div class="separadorMenu"></div>
                                            <div class="text20">Recetas</div>
                          </div>
                        </div>
                        
                          <div class=" col-center custom-hr"></div>
                                  <!--                     //// otro item //// 
                            -->                        <div class=" col-center  menu-item colorWhite"  routerLink="seleccionarRecetas" >
                                <div class="row-left widthMenu" >
                                                    
                                    <div class="marginLeft32"> 
                                        <mat-icon class="iconSize colorBlue"  svgIcon="recipes"></mat-icon>
                                    </div>
                                    <div class="separadorMenu"></div>
                                    <div class="text20">Recetas</div>
                                  </div>
                                 </div>
                                 <div class=" col-center custom-hr"></div>

                                                  <!--                     //// otro item //// 
                            -->                        <div class=" col-center  menu-item colorWhite"  routerLink="seleccionarRecetas" >
                                <div class="row-left widthMenu" >
                                                    
                                    <div class="marginLeft32"> 
                                        <mat-icon class="iconSize colorBlue"  svgIcon="recipes"></mat-icon>
                                    </div>
                                    <div class="separadorMenu"></div>
                                    <div class="text20">Recetas</div>
                                  </div>
                                 </div>
                                 <div class=" col-center custom-hr"></div>
                        
        <!--                 <div class=" col-center  custom-hr"></div>
         -->                <div class=" col-center  custom-hr" style="width: 90%; justify-content: center; bottom: 0.5px;" ></div>
                        </div>
         </div>
         </div>
        