.text{
    font-size: 28px;
    color: #667a92;
    text-align: center;
    font-family: dosis-bold;
    text-transform: capitalize;
  }

.buscarNavbar input
{
    box-sizing: border-box;
    height: 100px;
    width: 240px;
    border:none;
    font-size: 28px;
    font-family: dosis-medium;
    text-transform: capitalize;
    color: hsla(213, 44%, 28%, 0.685);
    background-color:transparent;
   
}
.buscarNavbar input::placeholder
{
 
    border:none;
    font-size: 28px;
    font-family: dosis-bold;
    text-transform: capitalize;
    color: #667a92;
   
}
.buscarNavbar input:focus
{
 
 outline: none;
   
}
.busquedaa
{
    height: 340px;
    margin: 0;
}

