<app-botton-burger></app-botton-burger>
<br>
<div class="text row-left">
    Recetas
</div>
<br>
<div class="col-center">
    <div class="input left-padding">
        <mat-icon class="blue" true svgIcon="search"></mat-icon><input placeholder="Buscar">
    </div>
</div>
    <br>
    <br>
    <br>
<div class="row-left">
    <div class="text ">
    Para ti
    </div>
</div>
<br>

<div class="wrapper">
    <div class="item">
        <div class="row-left"> 
            <div class="chip1">
                Vegano
            </div>
            <div class="chip2">
                Vegetariano
            </div>
        </div>
        <div class="foto">
            <img src="https://carneentucasa.com/archivos/Noticias/983.jpg">
        </div>
        <div class="row-center">
            <div class="row-center">
                <div class="nombre-receta">
                    Cocido Madrileño
                </div>
            </div>
            <div class="row-center">
                <div class="chip-micro1">
                    B
                </div>
                <div class="chip-micro2">
                        Mo
                </div> 
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row-left"> 
            <div class="chip1">
                Vegano
            </div>
            <div class="chip2">
                Vegetariano
            </div>
        </div>
        <div class="foto">
            <img src="https://carneentucasa.com/archivos/Noticias/983.jpg">
        </div>
        <div class="row-center">
            <div class="row-center">
                <div class="nombre-receta">
                    Cocido Madrileño
                </div>
            </div>
            <div class="row-center">
                <div class="chip-micro1">
                    B
                </div>
                <div class="chip-micro2">
                        Mo
                </div> 
            </div>
        </div>
    </div>
</div>

  <br>
  <br>
  <br>
  <br>
  


