
<app-botton-cruz></app-botton-cruz>
<div class="col-center">
    <div class="col-center 100 iphoneCard">
        <app-usuario></app-usuario>
        <br>
        <div class="row-center text"><mat-icon class="colorBlue icono left-padding" true svgIcon="configuracion"></mat-icon>Preferencias</div>
        <br>
        <br>
       

 <!--             ///////////// barra menu Burger
 -->                             
                
                <div class="busqueda">
                    <!-- 1 -->
                    <div (click)="pulsar1()" class="col-center menu-item colorWhite">
                        <div class="text">Preferencias de Dieta <mat-icon class="iconSize flecha colorGray" svgIcon="flecha-desplegable"></mat-icon></div>
                    </div>
                    <div class=" custom-hr"></div>

                    <div class="colorWhite" *ngIf="desplegable1">
                        <div class="text row-center">
                            <div [ngClass]="chip1" (click)="azul1()">vegetariano</div>
                            <div [ngClass]="chip2" (click)="azul2()">vegano</div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div (click)="pulsar2()" class="col-center menu-item colorWhite">
                        <div class="text">Alergias <mat-icon class="iconSize flecha colorGray" svgIcon="flecha-desplegable"></mat-icon></div>
                    </div>
                    <div class=" custom-hr"></div>

                    <div class="menu-desplegable col-center colorWhite" *ngIf="desplegable2">
                        <div class="text colorWhite">

                        </div>
                    </div>
                    <!-- 3 -->
                    <div (click)="pulsar3()" class="col-center menu-item colorWhite">
                        <div class="text">Alimentos a evitar<mat-icon class="iconSize flecha colorGray" svgIcon="flecha-desplegable"></mat-icon></div>
                    </div>
                    <div class=" custom-hr"></div>
                    <div class="menu-desplegable col-center colorWhite" *ngIf="desplegable3">
                        <div class="text colorWhite">

                        </div>
                    </div>
                    <!-- 4 -->
                    <div (click)="pulsar4()" class="col-center menu-item colorWhite">
                        <div class="text">Suplementos <mat-icon class="iconSize flecha colorGray" svgIcon="flecha-desplegable"></mat-icon></div>
                    </div>
                    <div class=" custom-hr"></div>
                    <div class="menu-desplegable col-center colorWhite" *ngIf="desplegable4">
                        <div class="text colorWhite">
                        </div>
                    </div>
                </div>

            </div>

        </div>
 