

<div class="col-center">

    <div class="col-center 100 iphoneCard">
        <div class=" row-left widthMenu marginLeft32">
 
            <div>
                <img [src]="imageProfile" alt="" srcset="">
                <div class="row-left text">El gestor de Micronutrientes </div>
                <div class="row-left textSubtitle">perfil completado al 70%</div>
            </div>
        </div>
        <div class="row-left text widthMenu marginLeft32 ">Menu</div>


       


<!--             ///////////// barra buscar oculta
 -->       
               

 <!--             ///////////// barra menu Burger
 -->                             
                </div>
                <div class="busqueda col-center">
                    <div class=" col-center text  menu-item colorWhite" >
                        <div class="row-left widthMenu" >
                            
                                        <div class="marginLeft32"> 
                                            
                                        </div>
                                        <div class="separadorMenu"></div>
                                        <div>Retos</div>
                    </div>
                    </div>
                     <div class=" col-center  custom-hr"></div>
                    
                <div class=" col-center text  menu-item colorWhite" >
                    <div class="row-left widthMenu" >
                        
                                    <div class="marginLeft32"> 
                                    </div>
                                    <div class="separadorMenu"></div>
                                    <div>Recetas</div>
                  </div>
                </div>
                <div class=" col-center  custom-hr"></div>
                <div class=" col-center text  menu-item colorWhite" >
                    <div class="row-left widthMenu" >
                        
                                    <div class="marginLeft32"> 
                                    </div>
                                    <div class="separadorMenu"></div>
                                    <div>Configuracion</div>
                  </div>
                </div>
                <div class=" col-center  custom-hr"></div>
                <div class=" col-center  custom-hr" style="width: 90%; justify-content: center; bottom: 0.5px;" ></div>
                </div>
        </div>
        <div class="row-center">
        <div class="col-center  menu-item colorWhite" id="botonRojo">hey</div>

        <button class="col-center menu-item \" id="botonVerde">hey</button>
    </div>
