
<div class="col-center">
    <br>
    <mat-icon class="iconSize colorBlue"  svgIcon="logo"></mat-icon>
    <div>
        <form [formGroup]="myForm">
            <div class="form-group">
                <div class="input">
                    <input placeholder="Nombre de usuario">
                </div>
            </div>
        <br>
        <div class="input">
            <input placeholder="E-mail">
        </div>
        <br>
        <div class="input">
            <input placeholder="Contraseña">
        </div>
        <br>
        <br>
        <div class="button-blue" routerLink="../login">crear cuenta</div>
        <br>
        <br>
        <div class="col-center">
            <div class="hr"></div>
            </div>
        <br>
        <br>
        <div class="row-center">
            <p class="text">Ya tengo cuenta,</p> <p class="link" routerLink="../login"> Entrar</p>
        </div>
        </form>
    </div>
</div>